<!DOCTYPE html>
<html lang="en">
<%- include('partial/head.ejs') %>

<body>
    <%- include('partial/navbar.ejs') %>
    <form action='/anunturiBaschet' class='form' method="POST">
        <%- include('partial/editBase.ejs', {toAddSport: "basket", titlu: "Basketball", anunt: ""}); %>

        <p class='field half'>
            <label class='label' for='center'>Cati "Center" vrei?</label>
            <select class='select' id='center' name="center">
                <option selected value='0'>Center</option>
                <option value='1'>1</option>
                <option value='2'>2</option>
            </select>
        </p>

        <p class='field half'>
            <label class='label' for='pForward'>Cati "Power Forward" vrei?</label>
            <select class='select' id='pForward' name="pForward">
                <option selected value='0'>Power Forward</option>
                <option value='1'>1</option>
                <option value='2'>2</option>
            </select>
        </p>

        <p class='field half'>
            <label class='label' for='pForward'>Cati "Small Forward" vrei?</label>
            <select class='select' id='pForward' name="sForward">
                <option selected value='0'>Small Forward</option>
                <option value='1'>1</option>
                <option value='2'>2</option>
            </select>
        </p>

        <p class='field half'>
            <label class='label' for='pGuard'>Cati "Point Guard" vrei?</label>
            <select class='select' id='pGuard' name="pGuard">
                <option selected value='0'>Point Guard</option>
                <option value='1'>1</option>
                <option value='2'>2</option>
            </select>
        </p>

        <p class='field half'>
            <label class='label' for='sGuard'>Cati "Shooting Guard" vrei?</label>
            <select class='select' id='sGuard' name="sGuard">
                <option selected value='0'>Shooting Guard</option>
                <option value='1'>1</option>
                <option value='2'>2</option>
            </select>
        </p>
        <p class='field half'>
            <input class='button' type='submit' value='Send'>
        </p>
    </form>
    <%- include('partial/script.ejs') %>
</body>

</html>