<!doctype html>
<html lang="en">
<%- include('partial/head.ejs') %>

<body>
    <%- include('partial/navbar.ejs') %>
    <%- include('partial/flash.ejs')%>
    <div class="mx-auto">
        <section class="container-fluid px-0">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div id="headingGroup" class="text-white text-center d-none d-lg-block mt-5">
                        <h1 class="">AI<span>/</span>NEVOIE<span>/</span>DE<span>/</span>PARTENER<span>/</span>?</h1>
                        <h1 class="">ALEGE<span>/</span>SPORTUL</h1>
                        <h1 class="">POSTEAZA<span>/</span>DATA<span>/</span>ORA<span>/</span>LOCATIA</h1>
                        <h1 class="">BUCURA-TE<span>/</span>DE<span>/</span>SPORT</h1>

                    </div>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid" src="/imgs/fotbal.jpg" alt="">
                </div>
            </div>
        </section>

        <section class="container-fluid px-0">
            <div class="row align-items-center content">
                <div class="col-md-6 order-2 order-md-1">
                    <img src="/imgs/fotbal2.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-6 text-center order-1 order-md-2">
                    <div class="row justify-content-center">
                        <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                            <h2>FOTBAL</h2>
                            <i class="fas fa-futbol "></i>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste
                                molestiae
                                beatae, maiores deserunt
                                in voluptatibus
                                aspernatur architecto excepturi delectus soluta? Ipsa, deleniti dolorem hic consequatur
                                repellat eveniet quidem
                                voluptate necessitatibus dolorum delectus minus vitae, ut, veritatis sint ipsum magnam
                                autem nam ex deserunt debitis
                                eaque ratione! Nobis, quidem assumenda.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center content">
                <div class="col-md-6 text-center">
                    <div class="row justify-content-center">
                        <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                            <h2>TENIS</h2>
                            <img src="https://img.icons8.com/ios/50/ffffff/tennis.png" />
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste
                                molestiae
                                beatae, maiores deserunt
                                in voluptatibus
                                aspernatur architecto excepturi delectus soluta? Ipsa, deleniti dolorem hic consequatur
                                repellat eveniet quidem
                                voluptate necessitatibus dolorum delectus minus vitae, ut, veritatis sint ipsum magnam
                                autem nam ex deserunt debitis
                                eaque ratione! Nobis, quidem assumenda.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/imgs/tenis.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="row align-items-center content">
                <div class="col-md-6 order-2 order-md-1">
                    <img src="/imgs/baschet.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-6 text-center order-1 order-md-2">
                    <div class="row justify-content-center">
                        <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                            <h2>BASCHET</h2>
                            <i class="fas fa-basketball-ball"></i>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste
                                molestiae
                                beatae, maiores
                                deserunt
                                in voluptatibus
                                aspernatur architecto excepturi delectus soluta? Ipsa, deleniti dolorem hic consequatur
                                repellat eveniet
                                quidem
                                voluptate necessitatibus dolorum delectus minus vitae, ut, veritatis sint ipsum magnam
                                autem nam ex deserunt
                                debitis
                                eaque ratione! Nobis, quidem assumenda.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <footer class="mx-auto text-center text-white-50">
            <p>&copy; 2020, designed by Mihaita Fabian-Bob </p>
        </footer>
    </div>
    <%- include('partial/script.ejs') %>
</body>

</html>