

@font-face {
    font-family: "SportypoReguler";
    src: url("/SportypoReguler.ttf");
  }


.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
    color: rgba(255,255,255,0.5);
    border-bottom-color:rgba(255,255,255,0.5);
}

.navbar-dark .navbar-nav .nav-link {
    opacity: 1;
}

.nav-link.active {
    color: white;
    border-bottom-color:white;

}

.btn-home, .btn-home:hover, .btn-home:active{
    color: #333 !important;
    text-shadow: none;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: transparent;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
  }

.navbar-brand {
    font-family: SportypoReguler;
    color: red !important;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    opacity: 1;
}

a, a:hover, a:active {
    color: red;
    opacity: 0.7;
}