<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const anuntjs = JSON.parse('<%-JSON.stringify(anunt)%> ')


    mapboxgl.accessToken = mapToken;

    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10', // stylesheet location
        center: anuntjs.geometry.coordinates, // starting position [lng, lat]
        zoom: 10 // starting zoom
    });

    new mapboxgl.Marker()
        .setLngLat(anuntjs.geometry.coordinates)
        .setPopup(
            new mapboxgl.Popup({ offset: 25 })
                .setHTML(
                    `<h5 class='pp'>${anuntjs.oras}</h5>`
                )
        )
        .addTo(map)

</script>